:root {
    --yellow: #ffc600;
    --black: #272727;
  }

html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: var(--black);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.dice__header {
    background: #f5f2d0;
    padding: 5px;
}

.dice__button {
    padding: 5px 10px;
    font-size: 1.2rem;
    color: #f5f2d0;
    background: #111111;
    border: 1px solid #eee;
    border-radius: 5px;
    font-family: sans-serif;
    margin: 15px 0;
}

.dice__button:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.2)
}

.dice__button:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.dice__button:active {
    background: #ff6f61
}

.dice__img {
    transition: 0.6s linear;
}

.roll {
    transform: rotateX(180deg);
}





